################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameBinaries/
/TorchBinaries/
/SwitchMe/obj/Debug
/.vs/SwitchMe/v16/Server/sqlite3
/.vs/SwitchMe/v16
/SwitchMe/bin/Debug
/SwitchMe/obj/Release
/.vs
/packages
/SwitchMe
